@charset "UTF-8";

body{
    background-color: aquamarine; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: blueviolet;
}
h2{
    color: darkred;
    
}
p{
    text-align: justify;
}